@charset "utf-8";
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);

/*
=====================
    Content
=====================
*/

#index_link {
    background-color: #307b8b;
}

p#title {
    font-family: 'Permanent Marker', cursive;
    font-size: 7.5em;
    text-align: center;
}
