@charset "utf-8";

/*
=====================
    Content
=====================
*/

#text_link {
    background-color: #307b8b;
}

#but_styles button {
    background:    #15d798;
    border-radius: 11px;
    padding:       20px 45px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal normal 26px "Open Sans", sans-serif;
    text-align:    center;
}

#bold {
    margin-left: 10%;
}

#italic {
    margin-left: 20%;
}

#bold:hover, #bold:active {
    font-weight: bold;
}

#italic:hover, #italic:active {
    font-style: italic;
}


    /*background-color: #bab4d7;*/